﻿@{
    ViewData["Title"] = "Privacy & Copyright";
}
<h1>@ViewData["Title"]</h1>

<div class="card card-text p-3">
    <h4>🔒 Privacy Notice</h4>
    <p>
        We respect and protect your personal privacy. This application only collects necessary information (such as recipient addresses and message content) for sending emails and SMS messages.
        Your data will not be sold, shared, or used for any unauthorized purposes. All transmissions are encrypted to ensure data security.
    </p>

    <hr />

    <h4>© Copyright Statement</h4>
    <p>
        This is a commercial application software interface for sending emails and mobile SMS.
        The copyright belongs to the author, Tony Law.
        It is not allowed to be used for commercial profit without authorization.
    </p>
</div>


